/* SOLO ESTILOS GENERALES. En vez de utilizar   createMuiTheme, ThemeProvider y temaConfig.js   con Material UI*/

/* SOLO ETIQUETAS HTML, no clases ni ids */

/* Utilizar   makeStyles   para dar estilos a los componentes */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Imagen de fondo de la app */
body {
  background-image: url("./imagenes/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
}
