/* Enlaces */
/* Comprobar si puedo dar estilos a los enlaces a través de la cinfiguración del tema en el archivo themeConfig.js */
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: rgb(131, 201, 224);
}
